{% extends 'OnlyPics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About OnlyPics
{% endblock %}

{% block cssFile %}
    <link rel="stylesheet" href="{% static 'css/about.css'%}" type="text/css">
{% endblock %}

{% block body_block %}
    <div class="fluid-container">
        <div class="row" align="center">
            <div class="col-sm-12">
                <div class="aboutUsHeader">
                    About Us
                </div>
            </div>
            <div class="col-sm-12">
                <div class="aboutUs">
                OnlyPics is a group project made for the University of Glasgow.
                    The team hopes to create a great environment for talented people to be able to share their photographs with the whole world for other equally talented people to see or buy, whether that was landscape, portrait, fashion, or sports photography; our site is able to accommodate them.
                </div>
            </div>
        </div>

        <div class="row" align="center">
            <div class="col-sm-12">
                <div class="FAQHeader">
                    FAQs
                </div>
            </div>
            <div class="col-sm-12">
                {% if faqs %}
                    {% for q in faqs %}
                        <p class="question"><!-- type the question here --></p>
                        <p class="answer"><!-- type the answer here --></p>
                    {% endfor %}
                {% else %}
                    <p class="question">Currently, there are no FAQs, contact us for more details.</p>
                {% endif %}
            </div>
        </div>

        <div class="row" align="center">
            <div class="col-sm-12">
                <div class="contactHeader">
                    Contact Us
                </div>
            </div>
        </div>

        <div class="row" align="center">
                <div class="col-sm-4">
                    <p><i class="fa-solid fa-phone"></i> 9999-9999-999</p>
                </div>
                <div class="col-sm-4">
                    <p><i class="fa-solid fa-envelope"></i> placeholder@OnlyPics.org</p>
                </div>
                <div class="col-sm-4">
                    <p  class="githubLink"><i class="fa-brands fa-github"></i> <a href="https://github.com/octeep/wad2-groupproject"> Github</a></p>
                </div>
        </div>
    </div>
{% endblock %}
