{% extends 'OnlyPics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About OnlyPics
{% endblock %}

{% block cssFile %}
    <link rel="stylesheet" href="{% static 'css/about.css'%}" type="text/css">
{% endblock %}

{% block body_block %}
    <div class="fluid-container">
        <div class="row" align="center">
            <div class="col-sm-12">
                <div class="aboutUsHeader">
                    About Us
                </div>
            </div>
            <div class="col-sm-12">
                <div class="aboutUs">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus non eros et arcu suscipit tempus. Nunc vitae lectus suscipit, molestie ligula et, consectetur nulla. Cras volutpat mauris mauris, at porta ante finibus vel. Aenean pretium magna sed est vulputate, sed varius purus sodales. Morbi rhoncus venenatis est, at hendrerit quam bibendum quis. Nulla ut magna enim. Ut interdum nibh quis viverra vehicula. Ut sed dignissim ante. Etiam gravida elit vel placerat aliquet. Aliquam at nulla purus. Phasellus maximus a diam at varius. Quisque non eros id est varius ultrices. Aliquam commodo eros nunc, vel finibus massa malesuada vel.

Pellentesque a sem quis sem aliquet finibus. Cras in consequat justo. Integer finibus sapien et luctus placerat. Sed dictum ante sit amet egestas iaculis. Curabitur ultricies, diam rutrum faucibus hendrerit, neque ante sagittis ante, in rhoncus arcu quam a tortor. Integer porttitor mollis lacinia. Pellentesque lobortis augue ut ante rhoncus, dictum porta sapien porta. Fusce vestibulum in elit nec elementum. Phasellus pharetra dolor vel magna sagittis rutrum.

Aliquam porttitor mollis quam, eu facilisis elit pretium a.
                </div>
            </div>
        </div>

        <div class="row" align="center">
            <div class="col-sm-12">
                <div class="FAQHeader">
                    FAQs
                </div>
            </div>
            <div class="col-sm-12">
                {% if faqs %}
                    {% for q in faqs %}
                        <p class="question"><!-- type the question here --></p>
                        <p class="answer"><!-- type the answer here --></p>
                    {% endfor %}
                {% else %}
                    <p class="question">Currently, there are no FAQs, contact us for more details.</p>
                {% endif %}
            </div>
        </div>

        <div class="row" align="center">
            <div class="col-sm-12">
                <div class="contactHeader">
                    Contact Us
                </div>
            </div>
        </div>

        <div class="row" align="center">
                <div class="col-sm-4">
                    <p><i class="fa-solid fa-phone"></i> 9999-9999-999</p>
                </div>
                <div class="col-sm-4">
                    <p><i class="fa-solid fa-envelope"></i> placeholder@OnlyPics.org</p>
                </div>
                <div class="col-sm-4">
                    <p><i class="fa-solid fa-location-pin"></i> Imaginary Address</p>
                </div>
        </div>
    </div>
{% endblock %}