{% extends 'onlypics/base.html' %}
{% load staticfiles%}

{% block title_block %}
    Account
{% endblock %}

{% block cssFile %}
    <link rel="stylesheet" href="{% static 'css/account.css'%}" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Alegreya Sans SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
{% endblock %}

{% block body_block %}
<div class="container-fluid">
      <div class="row">
        <div class="col-3 sticky">
          <div class="sidebar-section">
              <div>
                  {% if user.is_authenticated %}
                    <img id="profile-picture" src="{{ MEDIA_URL }}{{ userInfo.pfp }}">
                    <p id="account-name">{{ userInfo.nickname }}</p>
                    <p class="account-info">Tokens: {{ userInfo.tokens }}</p>
                    <p class="account-info">Pictures owned: {{ len_pics }}</p>
                  {% else %}
                    <p>This account does not exist</p>
                  {% endif %}
              </div>
              <div>
                  <a class="account-option" href="{% url 'onlypics:edit_account'%}">Edit Account</a>
                  <a class="account-option" href="{% url 'onlypics:delete_account'%}">Delete Account</a>
                  <a class="account-option" href="{% url 'onlypics:add_tokens'%}">Get the daily amount of tokens</a>
              </div>
          </div>
        </div>
        <div class="col-9">
          <div class="content-section">
              <div id="page-title">
                  This is your photo library...
              </div>
              {% if pictures %}
                  {% for pic in pictures %}
                      <div class="picture-box">
                          <img class="owned-img" src="{{ MEDIA_URL }}{{pic.upload}}">
                      </div>
                  {% endfor %}
              {% else %}
                    <p>You dont own any pictures! Time to become an owner!</p>
              {% endif %}
          </div>
        </div>
      </div>
</div>
{% endblock %}

{% block javaScript %}
{% endblock %}