{% extends 'onlypics/base.html' %}
{% load staticfiles%}

{% block title_block %}
    Explore
{% endblock %}

{% block cssFile %}
    <link rel="stylesheet" href="{% static 'css/explore.css'%}" type="text/css">
{% endblock %}

{% block body_block %}
<div class="container" id="containerId">
    <div class="row content-text">
        <div class="col-md-2"  >
            <div id="sidebar"  >
                <p><strong>Popular Categories</strong></p>
                {% if categories %}
                    <ul class="list-group list-group-flush">
                        {% for c in categories %}
                          <li class="list-group-item">{{ c.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">No categories present!</li>
                        <ul/>
                {% endif %}
            </div>
        </div>
        <div class="col-md-10 content">
            <p class="popCatText">pics go here</p>
        </div>
    </div>
</div>

{% endblock %}
