{% extends 'onlypics/base.html' %}
{% load staticfiles%}

{% block title_block%}
    Homepage
{% endblock %}

{% block cssFile%}
    <link rel="stylesheet" href="{% static 'css/index.css'%}" type="text/css">
{% endblock %}

{% block body_block%}
<!-- Slideshow container -->
<div id="stage" align="center">
  <a href="1.jpg"><img src="{{ MEDIA_URL }}index/img1.jpg" width="400" height="270"></a>
  <a href="2.jpg"><img src="{{ MEDIA_URL }}index/img2.jpg" width="400" height="270"></a>
  <a href="3.jpg"><img src="{{ MEDIA_URL }}index/img3.jpg" width="400" height="270"></a>
</div>
{% block javascript %}
<script src="{% static 'javascript/index.js'%}"></script>
{% endblock %}
{% endblock %}
