{% extends 'onlypics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Post For Sale
{% endblock %}

{% block cssFile %}
    <link rel="stylesheet" href="{% static 'css/post_for_sale.css'%}" type="text/css">
{% endblock %}

{% block body_block %}
    <div class="row" align="center">
        <div class="col-sm-12">
            <div class="postForSaleHeader">
                Start making money now!
            </div>
        </div>  

        <div class="container pt-3 my-3 border">
            <div class="col-sm-11" align="left">
                {{form.upload}}
            </div>   
            <div class="col-md-4" align="left">
                <li class="postList">
                    Name: {{form.name}}
                </li>
                <li class="postList">
                    Created at: {{form.createdAt}}
                </li>
                <li class="postList">
                    Price: {{form.price}}
                </li>
                <li class="postList">
                    Category: {{form.tags}}
                </li>
                <li class="postList">
                    Description: {{form.description}}
                </li>
            </div>  
        </div>     

        <div class="container border">
            <div class="postForSaleFooter">
                Post for sale
            </div>
        </div>
    </div>

{% endblock %}