{% extends 'onlypics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Post For Sale
{% endblock %}

{% block cssFile %}
    <link rel="stylesheet" href="{% static 'css/post_for_sale.css'%}" type="text/css">
{% endblock %}

{% block body_block %}
    <div class="row" align="center">
        <div class="col-sm-12">
            <div class="postForSaleHeader">
                Start making money now!
            </div>
        </div>  

        <form method="POST" enctype="multipart/form-data" action="{% url 'onlypics:post_for_sale'%}">
        {% csrf_token %}
        <div class="row container uploadForm">
            <div class="border uploadPart">
                <div align="left">
                    <img id="pic" class="preview"/>
                </div>
                <div align="left">
                    <input type="file" name="upload" accept="image/*" required="yes" id="upload" class="file-btn form-control">
                </div>
            </div>
            <div class="border uploadPart">
                <div class="flexbox" align="left">
                    <div class="postList">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" min="0" required="yes" class="form-control">
                    </div>
                    <div class="postList">
                        <label for="createdAt">Created At:</label>
                        <input type="date" id="createdAt" name="createdAt" required="yes" class="form-control">
                    </div>
                    <div class="postList">
                        <label for="forSale">For sale:</label>
                        <input type="checkbox" id="forSale" name="forSale" onchange="toggleForSale(this)" checked/>
                    </div>
                    <div class="postList">
                        <label for="price">Price:</label>
                        <input type="number" id="price" name="price" min="0" value="0" required="yes" class="form-control">
                    </div>
                    <div class="postList">
                        <label for="category">Category:</label>
                        <select name="category" id="category" required="yes" class="form-control">
                            {% for c in categories %}
                                <option value="{{ c }}">{{ c }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacious-div">
            <a style="color: #bd2130">{{ error_message }}</a>
        </div>
        <div class="spacious-div">
            <input value="Post for sale" class="submit-btn btn btn-info" type="submit"></input>
        </div>
        </form>
    </div>

    <script src="{% static 'javascript/post_for_sale.js'%}"></script>
{% endblock %}
