{% extends 'onlypics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block cssFile %}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}" type="text/css">
{% endblock %}

{% block body_block %}
<div class="container" id="containerId">
    <div class="row content-text">
        <div class="col-md-2"  >
            <div id="sidebar top"  >
                pictures
                <p>firstname secondname
                    Tokens: tokens
                    Pictures Owned: ownedpictures
                </p>
            </div>
        </div>
        <div class="col-md-2"  >
            <div id="sidebar bottom"  >
                pictures
                <p>
                    <li><a href="#"><Edit Account</a></li>
                    <li><a href="#"><Delete Account</a></li>
                    <li><a href="#"></a>Change Password</a></li>
                    <li><a href="#add_tokens">Add More Tokens</a></li>
                </p>
            </div>
        </div>
        <div class="col-md-10 content">
            {% if posts %}
                <ul class="list-group list-group-flush">
                    {% for p in posts %}
                      <li class="list-group-item">{{ p.name }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">No posts yet!</li>
                    <ul/>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
