{% extends 'onlypics/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block cssFile %}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}" type="text/css">
{% endblock %}

{% block body_block %}
<div class="container" id="containerId">
    <div class="content-text" style="padding: 20px">
        <p><a id="logo">OnlyPics</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi in nulla posuere sollicitudin aliquam. Purus ut faucibus pulvinar elementum integer enim neque volutpat ac. Cursus vitae congue mauris rhoncus aenean vel elit. In tellus integer feugiat scelerisque varius morbi enim nunc. Velit laoreet id donec ultrices tincidunt arcu non sodales neque. Fermentum iaculis eu non diam phasellus vestibulum lorem sed. Mauris nunc congue nisi vitae suscipit tellus mauris. Mattis pellentesque id nibh tortor id aliquet lectus proin. Enim lobortis scelerisque fermentum dui faucibus in. Cras ornare arcu dui vivamus arcu felis. Tincidunt lobortis feugiat vivamus at. Nec tincidunt praesent semper feugiat nibh sed pulvinar proin. Viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat. Cursus turpis massa tincidunt dui ut ornare lectus sit amet.</p>

        <p>Nibh ipsum consequat nisl vel. Duis ut diam quam nulla porttitor massa id. Integer enim neque volutpat ac tincidunt vitae semper. Magna ac placerat vestibulum lectus mauris ultrices eros. Dui faucibus in ornare quam viverra orci sagittis. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero nunc. Quis blandit turpis cursus in hac habitasse platea dictumst. Nisi vitae suscipit tellus mauris a diam maecenas sed enim. Et molestie ac feugiat sed lectus vestibulum mattis. Sodales ut eu sem integer vitae. Arcu risus quis varius quam. Tortor id aliquet lectus proin nibh.</p>

        <p>In est ante in nibh mauris cursus mattis molestie. Tortor posuere ac ut consequat semper. Facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat. Nisl nisi scelerisque eu ultrices vitae auctor eu. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Est ante in nibh mauris cursus mattis molestie. Neque convallis a cras semper. A cras semper auctor neque. Nisi scelerisque eu ultrices vitae auctor eu augue ut lectus. In massa tempor nec feugiat nisl pretium. Nulla pellentesque dignissim enim sit amet venenatis urna. Nec sagittis aliquam malesuada bibendum arcu. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Augue eget arcu dictum varius duis at consectetur lorem donec. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc.</p>

        <p>Cursus turpis massa tincidunt dui ut ornare lectus. Vitae nunc sed velit dignissim sodales ut eu sem integer. Proin sed libero enim sed faucibus turpis in. Ut eu sem integer vitae justo eget magna. Vel orci porta non pulvinar neque laoreet suspendisse. Sit amet aliquam id diam. Sem viverra aliquet eget sit amet tellus. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Fermentum iaculis eu non diam. Nisl nunc mi ipsum faucibus vitae aliquet nec. Purus gravida quis blandit turpis cursus.</p>

        <p>Suspendisse faucibus interdum posuere lorem. Facilisis magna etiam tempor orci eu lobortis. Neque convallis a cras semper auctor. Convallis convallis tellus id interdum velit. Nam at lectus urna duis convallis. Mi eget mauris pharetra et. Leo vel fringilla est ullamcorper eget. Diam donec adipiscing tristique risus. Etiam erat velit scelerisque in. Proin nibh nisl condimentum id venenatis a. Facilisis volutpat est velit egestas dui. Est lorem ipsum dolor sit amet. Amet consectetur adipiscing elit ut aliquam purus sit amet luctus.</p>
    </div>
</div>

{% endblock %}
