#sidebar {
    position: sticky;
}
.container{
    max-width: 100%;
    padding: 20px;
}
.content-text{
    text-align: center;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-box{
  margin: 15px;
  border-radius: 20px;
  display: flex;
  justify-content: left;
  width: 100%;
  height: 400px;
}

#info-picture-div{
    width: 100%;
    border: 1px solid grey;
    border-radius: 25px;
    box-shadow: 5px 10px 18px #888888;
}

.explore-img{
  padding: 10px;
  border-radius: 20px;
  height: 100%;
  max-height: 100%;
}

.div-box-button{
    margin-right: auto;
    display:inline;
    margin-left: auto;
    width: 150px;
    max-width: 25%;
    height: 50px;
    font-size: 1vw;
    text-align: center;
    border-radius: 35px;
}

.div-button-text{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 25px;
}

.div-buy{
    display:inline;
    width: 15%;
    max-width: 15%;
    height: 50px;
    font-size: 1.5vm;
    border-radius: 35px;
    padding-right: 15px;
    padding-left: 15px;
}

.div-buy-button{
    width: 150px;
    max-width: 25%;
    font-size: 1.5vw;
    text-align: center;
}

.div-buy-text{
    font-family: 'Kalam';
}

#delimiter1{
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 25px;
}

#delimiter2{
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.scrollable{
    display: flex;
    flex-direction: column;
    max-height: 75%;
    height: 100%;
    overflow: auto;
}

.input-comment{
    border-radius: 15px;
    max-width: 80%;
    width: 80%;
    height: 35px;
}

#comment-section{
    display: block;
}
