.sidebar {
    position: sticky;
    border-left: 6px solid black;
    height: 500px;
    position:absolute;
    left: 50%;
}
.container{
    max-width: 100%;
    padding: 20px;
}
.content-text{
    text-align: center;
}
