.postForSaleHeader{
    margin-top: 5%;
    font-size: 25px;
    font-style: italic;
}

.postForSaleFooter{
    margin-top: 5%;
    font-size: 25px;
}

.navbarBtns a, .postList a {
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}

 .githubLink a{
    text-decoration: none;
}
